
<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <style>

    .container {
        width: 1455px;
        display:flex;
        gap: 5px;  
        border:4px solid black;
           
        
    }

    * { font-family: Arial, Helvetica, sans-serif;
    }

    .bloc-gauche {
        background-color: lightblue;
        width: 300px;
        height: 800PX;
        
    }

    .sous-bloc-gauche-haut  {
        margin-left:55px;
        
        
    }

    div  {
        margin:0;
        padding: 0;
        
    }

/****************************************************** bloc gauche milieur ***********/

    .sous-bloc-gauche-milieu  {
        height: 200px;
        
        
        }

    .list-bloc-milieu ul {
        list-style-image: url("images/person-fill.svg") ;
        margin-left:60px
        
    } 

    a {
        text-decoration: none;
        color: black;
        
    }

    .hire-me {
                border: 0;
        line-height: 2.5;
        padding: 0 20px;
        font-size: 1rem;
        text-align: center;
        color: black;   
        border-radius: 10px;
        
        margin-left: 85px;
    }

    /************* partie gauche bas ******/

    .sous-bloc-gauche-bas {
        width: 300px;
        display: flex;
        flex-direction: column;
        margin-left: 85px;
    }

    .interrupteur-checkbox {
    display: none;
    } 

    .interrupteur-switch {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 25px;
    background-color: #cacaca;
    border-radius: 8px;
    }
 
    .interrupteur-switch::before {
    content: "";
    background-color: #ffffff;
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    top: 2px;
    left: 4px;
    }
    
    .interrupteur-checkbox:checked + .interrupteur-switch {
    background-color: #028ddd;
    }
 
    .interrupteur-checkbox:checked + .interrupteur-switch::before {
    left: 60px;
    }
/************************bloc droit *********/

    .bloc-droit {
        
        width: 1150px;
        height: 800px;
    }

    .image-dev {background-color: bisque;}

    .bloc-droit-haut{
        display:flex;
        width: 1150px;
        
        
    }

    .sous-bloc-droit-gauche {
        width: 600px;
        height: 305px;
        background-color: bisque;
       
    }

    .boutton {
        display:flex;
        
    }
    .view-portfolio {
                border: 0;
        line-height: 2.5;
        padding: 0 20px;
        font-size: 1rem;
        text-align: center;
        color: black;   
        border-radius: 10px;
        background-color:green;
        margin-left: 65px;
    }

    .view-resume {
                border: 0;
        line-height: 2.5;
        padding: 0 20px;
        font-size: 1rem;
        text-align: center;
        color: black;   
        border-radius: 10px;
        background-color:lightgrey;
        margin-left: 85px;
    }

    .bloc-droit-milieu {
        height: 150px;
    }

    .bloc-droit-bas {
        
        width: 1150px;
        height: auto;
        
    }

    .list-bloc-bas {
        display:flex;
        justify-content: space-between;
    }

    .bloc-droit-bas ul {
        list-style-image: url("images/icons8-logo-javascript.svg") ;
        list-style-position: inside;
    }

    

    .list-1 {
        width: 200px;
        height: 200px;
    }
    .list-2 {
        width: 200px;
        height: 200px;
    }
    .list-3 {
        width: 200px;
        height: 200px;
    }

    .list-4 {
        width: 200px;
        height: 200px;
    }

    </style>
 


